# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C Extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# If you are using SQLite3 locally
*.sqlite3

# Environment variables
.env

# Django migrations
sleep_management/migrations/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python environment
venv/
